<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Note</title>
</head>
<body>
<h1>Delete Note</h1>
<p>
    <a href="/note">Note List</a>
</p>
<form th:action="@{/delete-note}" th:object="${note}" method="post">
    <input th:type="hidden" name="id" th:field="*{typeId}">
    <table>
        <tr>
            <td>Title</td>
            <td th:text="${note.title}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td th:text="${note.content}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Note"></td>
        </tr>
    </table>
</form>
</body>
</html>